<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conor.softwareapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".notifications.myFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".log.splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".log.register" />
        <activity
            android:name=".players.journalEntry"
            android:parentActivityName=".mainActivties.journal" />
        <activity
            android:name=".log.resetPword"
            android:parentActivityName=".log.Login" />
        <activity android:name=".log.Login" />
        <activity
            android:name=".mainActivties.home"
            android:theme="@style/AppTheme.noActionBar"></activity>
        <activity android:name=".mainActivties.profile" />
        <activity android:name=".players.addInformation" />
        <activity android:name=".mainActivties.chat" />
        <activity android:name=".mainActivties.audio" />
        <activity android:name=".players.journal_item_view"
            android:parentActivityName=".mainActivties.journal"/>

        <activity android:name=".mainActivties.feedback"
            android:parentActivityName=".mainActivties.home"/>

        <activity android:name=".players.musicPlayer" />
        <activity android:name=".mainActivties.support" />
        <activity android:name=".mainActivties.journal" />
        <activity android:name=".log.loginInHome" />
        <activity android:name=".players.messageActivity" />

    </application>

</manifest>